<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuelware.app.fw_manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateVisible"
            />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".activities.CashierDashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarCustomTheme"
            />

        <activity
            android:name=".activities.CounterBillActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarCustomTheme"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.indents.MindentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.indents.EditBIndentActivity$BIndentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.indents.EindentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.indents.MiDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.indents.EditMIndentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.indents.EditBIndentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.indents.AddBIndentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.ReceiptsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.ReceiptListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.AddReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.ReceiptDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.ChequeReceiptListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.EwalletListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.EwalletDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.AddEwalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.OnlinePaymentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.OnlinePaymentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.AddOnlinePaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.receipts.EditReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.morning_params.MorningParamsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.reports.ReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.reports.AccountStatementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.reports.AccountDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.plans.PlansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.TechSupportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.plans.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.reports.BatchOutputReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.reports.SearchTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <receiver android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a2491e0ec203cd96489d8e0171c842195b2c41bc"
            />

        <activity android:name=".activities.ForgotPasswordActivity"
            android:theme="@style/MyMaterialTheme"
            />

        <activity
            android:name=".activities.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />


        <receiver android:name=".receivers.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>