<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuelware.app.fw_manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateVisible"
            />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".activities.CashierDashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarCustomTheme"
            />

        <activity
            android:name=".activities.CounterBillActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarCustomTheme"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.MindentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.EindentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.MiDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.EditMIndentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.ReceiptsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.ReceiptListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.AddReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.ReceiptDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.ChequeReceiptListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.EwalletListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.EwalletDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.AddEwalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.OnlinePaymentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.OnlinePaymentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.AddOnlinePaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.EditReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.MorningParamsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.ReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.AccountStatementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.AccountDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />
        <activity
            android:name=".activities.PlansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.TechSupportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.BatchOutputReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarCustomTheme" />

        <activity
            android:name=".activities.SearchTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <receiver android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>